/*allows boxes for choices to be spaced evenly with dotted border, spacing, font sizing, margin and color.*/
.option-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem dotted darkgoldenrod;
    background-color: white;
}
/*creates hover effect notice boxes jump 2px more on this page*/
.option-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(233, 200, 91, 0.822);
    transform: translateY(-0.3rem);
    transition: transform 300ms;
}
/*padding allows for letters to be centered*/
.option-prefix {
    padding: 1.5rem 2.5rem;
    background-color: darkgoldenrod;
    color: white;
}
/*padding allows for text to be pushed to center and width allows button to be clicked*/
.option-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: lightgreen;
}

.incorrect {
    background-color: lightpink;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}
/*progress bar styling*/
#progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid darkgoldenrod;
}
/*progress bar styling when full*/
#progressBarFull {
    height: 3.4rem;
    background-color: darkgoldenrod;
    width: 0%;
}