/*styling for html background color and font size.62.5% sets rem. :root will target index.html*/
:root {
  background-color: silver;
  /*using rem sets default to the root file*/
  font-size: 62.5%;
}

/*styling for quiz box and box sizing with border box*/
* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: darkgoldenrod;
}

/*Adding margin-bottom to h1-h4 tags*/
h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}
/*set h1 size 42px with rem, color, margin bottom and color to gold*/
h1 {
  font-size: 5.4rem;
  color: darkgoldenrod;
  margin-bottom: 5rem;
}
/**/
h1 > span {
    font-size: 2.4rem;
    font-weight: 500;
}
/**/
h2 {
    font-size: 4.2rem;
    font-weight: 700;
    margin-bottom: 4rem;
}
/**/
h3 {
    font-size: 2.8rem;
    font-weight: 500;
}

/*centering content with flex box and added padding for responsiveness*/
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}
/*centers child elements horizontally*/
.container > * {
  width: 100%;
}
/*flipped flex box to a column*/
.flex-column {
  display: flex;
  flex-direction: column;
}
/*center content on page*/
.flex-center {
  justify-content: center;
  align-items: center;
}
/*center content*/
.justify-center {
  justify-content: center;
}
/*button styling */
.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem dotted darkgoldenrod;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(10, 8, 3);
    background-color: white;
}
/*creates a hover effect, and allows button to jump up 1px for effect, transition allow for a smooth transition*/
.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(233, 200, 91, 0.822);
    transform: translateY(-0.3rem);
    transition: transform 300ms;
}
/**/
.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(233, 200, 91, 0.822)
}
